<div class="container mt-5">
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Phone number</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of contacts; let i = index">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ item.FirstName }}</td>
          <td>{{ item.LastName }}</td>
          <td>{{ item.PhoneNumber }}</td>
          <td>
            <button class="btn btn-warning" [routerLink]="['/edit-contact', item.RowId]">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="open(content, 'deleteContact', item.RowId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="w-100">
      <button class="btn btn-primary float-left d-inline" routerLink='/add-contact'>Add new contact</button>
      <button class="btn btn-danger float-right d-inline" (click)="open(content, 'removeAll')">Remove all contacts</button>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <p>Are you sure you want to continue?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="c(true)">Confirm</button>    
    <button type="button" class="btn btn-light" (click)="c(false)">Cancel</button>
  </div>
</ng-template>

<div *ngIf="showLoadingSpinner" class="loader"></div>